
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #fcfbff;
  display: flex;
  justify-content: center;
}


main {
  height: 50vh;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex;
  justify-content: center;
}

span {
  font-size: x-large;
}

img {
  box-shadow: 0 10px 4px #0003;
  width: 100%;
}

.swiper {
  height: 400px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 400px) {
  .swiper {
    height: 100px;
  }
}
